.genshinFont {
    font-family: Genshin, sans-serif;
}

.materialImageRoot {
    width: 54px;
    height: 69px;
    margin-right: 3px;
    background-color: rgb(233, 229, 220);
    border-radius: 5px;
}

.materialImage {
    width: 54px;
    background-color: rgb(36, 41, 56);
    background-size: 100%;
    border-radius: 5px 5px 15px 0px;
}

.materialTextContainer {
    text-align: center;
    color: rgb(32, 32, 32);
    font-family: Genshin, sans-serif;
    font-size: 10px;
    margin-top: -6.5px;
}