.text-pyro {
    color: #e46052
}

.text-hydro {
    color: #4faaff
}

.text-electro {
    color: #d85dd8
}

.text-cryo {
    color: #90e1fa
}

.text-anemo {
    color: #4bcfa3
}

.text-geo {
    color: #ecd133
}

.text-dendro {
    color: #9cdf3f
}

.text-highlight {
    color: #ffe7b9
}