body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    background-color: rgb(0, 30, 60);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@font-face {
    font-family: Genshin;
    src: url("./fonts/ja-jp.ttf");
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(16, 16, 16);
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.text-physical {
    color: white;
}

.text-pyro {
    color: #e46052;
}

.text-hydro {
    color: #4faaff;
}

.text-electro {
    color: #d85dd8;
}

.text-cryo {
    color: #90e1fa;
}

.text-anemo {
    color: #4bcfa3;
}

.text-geo {
    color: #ecd133;
}

.text-dendro {
    color: #9cdf3f;
}

.text-highlight {
    color: #ffe7b9;
}

.text-refinement {
    color: rgb(59, 177, 255);
}

.text-physical,
.text-pyro,
.text-hydro,
.text-electro,
.text-cryo,
.text-anemo,
.text-geo,
.text-dendro,
.text-highlight,
.text-refinement {
    font-weight: bold;
}

.tcg-bold,
[class^="tooltip-"] {
    color: white;
    font-weight: bold;
}

[class^="tooltipHighlight-"] {
    color: #ffe7b9;
    font-weight: bold;
}

.tooltip-pyro {
    color: #e46052;
    font-weight: bold;
}

.tooltip-hydro {
    color: #4faaff;
    font-weight: bold;
}

.tooltip-electro {
    color: #d85dd8;
    font-weight: bold;
}

.tooltip-cryo {
    color: #90e1fa;
    font-weight: bold;
}

.tooltip-anemo {
    color: #4bcfa3;
    font-weight: bold;
}

.tooltip-geo {
    color: #ecd133;
    font-weight: bold;
}

.tooltip-dendro {
    color: #9cdf3f;
    font-weight: bold;
}