body {
    margin: 0;
    background-color: rgb(32, 56, 96);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@font-face {
    font-family: Genshin;
    src: url("./fonts/ja-jp.ttf");
}

ul {
    margin: 0;
    padding-left: 18px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(16, 16, 16);
}

::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(125, 125, 125);
}
